/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*root indstillinger*/
:root {
  --primary: #f6f4ef;
  --secondary: #54281a;
  --tertiary: #8b1426;
  --quaternary: #333333;
  --font1: Alkalami, sans-serif;
  --font2: albert sans, sans-serif;
}

h1 {
  font-family: var(--font1);
  color: var(--secondary);
}

h2 {
  font-family: var(--font1);
  color: var(--quaternary);
  font-size: 1.7rem;
}

h3 {
  font-family: var(--font2);
  font-size: 1.3rem;
  color: var(--quaternary);
}

/*******/
/* main {
  margin: 40px 30px;
}

@media (min-width: 800px) {
  main {
    margin: 40px 50px;
  }
} */
