/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.alkalami-regular {
  font-family: "Alkalami", serif;
  font-weight: 400;
  font-style: normal;
}

.albert-sans {
  font-family: "Albert Sans", serif;
  font-weight: 400;
  font-style: normal;
}

/*******/
main {
  margin: 40px 30px;
}

@media (min-width: 800px) {
  main {
    margin: 40px 50px;
  }
}
