/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*******/
main {
  margin: 40px 30px;
}

@media (min-width: 800px) {
  main {
    margin: 40px 50px;
  }
}
