.food-category {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.food-category img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.label {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 170px;
  text-align: center;
  background: white;
}

@media (max-width: 800px) {
  .food-category {
    margin-bottom: 30px;
  }

  .label {
    padding: 12px;
    border-radius: 18px;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

@media (min-width: 800px) {
  .food-container {
    display: flex;
  }
}
